
  <div class="row" id="home-row">
    <div class="col s12 m6">
      <div class="card white darken-1" id="home-card">
        <div class="card-content indigo accent-2 white-text">
          <span class="card-title" id="title">{{title}}</span>
          <p id="description">{{description}}</p>
        </div>
        <div class="card-action">
          <a href="#" class="red-text" id="saveToProfile">Save</a>
          <a href="#" class="red-text" >This is a link</a>
        </div>
      </div>
    </div>
  </div>

  