<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Link to Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="/css/style.css">
      <!-- Link to Slick -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast 411</title>
</head>
<body>
  <!-- Header with logo -->
    <header>
        <nav>
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="">Explore</a></li>
              </ul>
              <ul id="nav-mobile" class="right hide-on-med-and-down">

                {{#if loggedIn}}
                <li><a href="/profile">Profile</a></li>
                <button class="no-button" id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
      
              </ul>
            </div>
          </nav>
            <div class="center">
                <img src="../../assets/Podcast411Logo.png" alt="Podcast411"/>
            </div>
    </header>
    
    {{{body}}}
    
    <!-- Footer with api logo -->
    <footer class="shadow">
      <div class="logo">
        <img src="../../assets/api-transparent background for non-white background.png" alt="Listen Notes Logo"/>
      </div>
    </footer>

    {{#if loggedIn}}

    <script src="/js/logout.js"></script>
    {{/if}}

</body>
  <!-- Script for JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>  
    <!-- Script for Slick -->

<!-- Script for materialize -->
<link rel="script" href="/js/materialize.min.js">
</html>
