    <!-- Insert Slider -->
    <div>
      <ul class="slider">
        <center>
        <img src="/assets/images/myFavoriteMurderImage.jpeg" alt="Image Placeholder">
        <img src="/assets/images/fakeDoctorsRealFriendsImage.jpeg" alt="Image Placeholder">
        <img src="/assets/images/stuffYouShouldKnowPodcastImage.jpeg" alt="Image Placeholder">
        </center>
      </ul>
    </div>
    <!-- Search bar -->
    <div class="wrapper">
      <input type="text" class="input" placeholder="Self-Care Podcast!" name = "search">
      <div class="searchbtn"> 
        <i class="material-icons">search</i>
      </div>
    </div>

    