    <!-- Insert Slider -->
    <div>
      <ul class="slider">
        <center>
        <img src="/assets/images/myFavoriteMurderImage.jpeg" alt="Image Placeholder">
        <img src="/assets/images/fakeDoctorsRealFriendsImage.jpeg" alt="Image Placeholder">
        <img src="/assets/images/stuffYouShouldKnowPodcastImage.jpeg" alt="Image Placeholder">
        </center>
      </ul>
    </div>
    <!-- Search bar -->
    <form class="wrapper" id= "searchForm">
      <input type="text" class="search" placeholder="Self-Care Podcast!" name = "search" id= "search">
      <button type = "submit" class="searchbtn" > 
        <i class="material-icons">search</i>
      </button>
    </form>

<script src="/js/search.js"></script>
    