
    <!-- Search bar -->
    <form class="wrapper" id= "searchForm">
      <input type="text" class="search" placeholder="Self-Care Podcast!" name = "search" id= "search">
      <button type = "submit" class="searchbtn" > 
        <i class="material-icons">search</i>
      </button>
    </form>

    {{#each podcastData as |podcast|}}
    {{> podcast-details}}
    {{/each}}

<script src ="/js/search.js"></script>