<div class="form-wrapper">
    <div class="container">
        <form class="form" id="login"></form>
            <h1 class="form_title">Login</h1>
            <div class="form_input-group">
                <input type="text" class="form_input" placeholder="Username or email">
            </div>
            <div class="form_input-group">
                <input type="text" class="form_input" placeholder="Password">
                <div class="form_input-error-message"></div>
            </div>
            <button class="waves-effect waves-light btn indigo accent-2" type="submit">Login</button>
            <p class="form_text">
                <a class="form_link" href="#" id="linkCreateAccount" >Don't have an account? Create account!</a>
            </p>
    </div>
</div>
<div class="form-wrapper">
  <div class="container container-create">
      <form class="form" id="createAccount"></form>
          <h1 class="form_title">Create Account</h1>
          <div class="form_input-group">
              <input type="text" class="form_input" placeholder="Username">
          </div>
          <div class="form_input-group">
              <input type="text" class="form_input" placeholder="Email">
          </div>
          <div class="form_input-group">
              <input type="text" class="form_input" placeholder="Password">
              <div class="form_input-error-message"></div>
          </div>
          <button class="waves-effect waves-light btn indigo accent-2" type="submit">Continue</button>
          <p class="form_text">
              <a class="form_link" href="./" id="login" >Already have an account? Login!</a>
          </p>
  </div>
</div>

<script src="../public/js/login.js"></script>