 <!-- Profile -->
    <div>
        <img class="profile-pic" src="../../assets/ProfilePic.png" alt="User" />
        <h1 class="profile"></h1>
    </div>
    <!-- Cards for Podcasts and Playlists -->
    <div class="row">
        {{!-- try partial if not hardcode profile pod cards elements --}}
    {{#each userPlaylist.podcasts as |podcast|}}
    {{> podcast-details}}
    {{/each}}
    </div>
    <script src="/js/profile.js"></script>
