/* Universal selector */
* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;;
    background-color: #9bb1f2;
}

/* Logo */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    background-origin: padding-box;
    padding: 30px;
}

/* Logo */
img {
    max-width: 400px;
    background: rgba(60, 60, 60, 0);
    position: relative;
    bottom: 55px;
}

/* Header color */
header .nav-wrapper {
    background-color: #536dfe;
}

a {
    background-color: #536dfe;
}

/* Footer */
footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #536dfe;
}

.shadow {
    box-shadow: 0px 0 3px rgba(28, 28, 28, 0.632);
}

/* API Logo */
.logo {
    display: flex;
    justify-content: right;
    position: relative;
    top: 45px;
    right: 5px;
    width: 100%;
    height: 25px;
    background: rgba(60, 60, 60, 0);
}

/* Search bar */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
}

.searchbtn {
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background: white;
}

.material-icons {
    background: white
}

/* Profile Icon */
.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.profile {
    position: relative;
    bottom: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

/* Cards */
span {
    background: rgba(60, 60, 60, 0);
}

.row .col.s1 {
    align-items: center;
    text-align: center;
    width: 25%;
    position: relative;
    left: 11%;
    border: 3px solid #536dfe;
    padding: 10px;
    margin: 5px;
    bottom: 60px;
}
 
/* Login/Create Account Forms */

.container {
    font-size: 18px;
    color: white;
    width: 400px;
    max-width: 400px;
}

.container-create {
    margin-bottom: 100px;
    padding: 20px;
}

.form_message {
    margin-bottom: 18px;
}

.form_message-success {
    color: green;
}

.form_input-group {
    margin-bottom: 18px;
}

.form_input {
    display: block; 
    width: 100%;
    padding: 0.75rem;
}

.form_input:focus {
    border-bottom: #536dfe !important; 
}

.form_link {
    background: rgba(60, 60, 60, 0);
    color: #536dfe;
}

.form_link:hover {
    color: #f52557;
}

.container-create {
    margin-bottom: 200px;
    padding-top: 20px;
}


/* Search Page */

.search-results {
    font-size: 30px;
    padding: 100px;
    color: white;
    font-weight: bold;

}

.collection {
    max-width: 800px;
    left: 250px;
    margin-top: 30px;
}

p {
    background: rgba(60, 60, 60, 0);
}