<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Link to Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../public/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="../../public/css/style.css">
      <!-- Link to Slick -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast 411</title>
</head>
<body>
  <!-- Header with logo -->
    <header>
        <nav>
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Explore</a></li>
              </ul>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./profile.html">Sign Up/Login</a></li>
              </ul>
            </div>
          </nav>
            <div class="center">
                <img src="../../assets/Podcast411Logo.png" alt="Podcast411"/>
            </div>
    </header>

<!-- LogIn form -->
<div class="form-wrapper">
    <div class="container">
        <form class="form" id="login"></form>
            <h1 class="form_title">Login</h1>
            <div class="form_input-group">
                <input type="text" class="form_input" placeholder="Username or email">
            </div>
            <div class="form_input-group">
                <input type="text" class="form_input" placeholder="Password">
                <div class="form_input-error-message"></div>
            </div>
            <button class="waves-effect waves-light btn indigo accent-2" type="submit">Login</button>
            <p class="form_text">
                <a class="form_link" href="./" id="linkCreateAccount" >Don't have an account? Create account!</a>
            </p>
    </div>
</div>

<!-- Create Account -->
<div class="form-wrapper">
  <div class="container container-create">
      <form class="form" id="createAccount"></form>
          <h1 class="form_title">Create Account</h1>
          <div class="form_input-group">
              <input type="text" class="form_input" placeholder="Username">
          </div>
          <div class="form_input-group">
              <input type="text" class="form_input" placeholder="Email">
          </div>
          <div class="form_input-group">
              <input type="text" class="form_input" placeholder="Password">
              <div class="form_input-error-message"></div>
          </div>
          <button class="waves-effect waves-light btn indigo accent-2" type="submit">Continue</button>
          <p class="form_text">
              <a class="form_link" href="./" id="login" >Already have an account? Login!</a>
          </p>
  </div>
</div>

    <!-- Footer with api logo -->
    <footer class="shadow">
      <div class="logo">
        <img src="../../assets/api-transparent background for non-white background.png" alt="Listen Notes Logo"/>
      </div>
    </footer>
</body>
  <!-- Script for JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>  
<!-- Script for materialize -->
<link rel="script" href="./js/materialize.min.js">
<!-- Script for login -->
<link rel="script" href="../../public/js/login.js"
</html>
